<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Simple PDF.js with zoom</title>
       <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
   </head>
   <body>

    <h1 style="text-align: center;">OFFViewer</h1>

      <div style="text-align: center;">
          <button id="prevbutton" style="float: left; max-height: 100%; max-width: 100%;">이전</button>

          <button id="zoomoutbutton" type="button">zoom in</button>
          <span style="">Page: <span id="page_num"></span> / <span id="page_count"></span></span>
          <button id="zoominbutton" type="button">zoom out</button>

          <button id="nextbutton" style="float: right; max-height: 100%; max-width: 100%;">다음</button>
      </div>

      <canvas id="the-canvas" style="border:1px  solid black"></canvas>

      <script id="script">
         var pageNum = 1;
         var pdfScale = 1; // make pdfScale a global variable
         var shownPdf; // another global we'll use for the buttons
         var url = '{{ magazine.file.url }}' // PDF to load: change this to a file that exists;

         function renderPage(page) {
            var scale = pdfScale; // render with global pdfScale variable
            var viewport = page.getViewport(scale);
            var canvas = document.getElementById('the-canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = {
               canvasContext: context,
               viewport: viewport
            };
            page.render(renderContext);
            document.getElementById('page_num').textContent = pageNum;
            document.getElementById('page_count').textContent = pdfDoc.numPages;


         }

         function displayPage(pdf, num) {
            pdf.getPage(num).then(function getPage(page) { renderPage(page); });
         }

         var pdfDoc = PDFJS.getDocument(url).then(function getPdfHelloWorld(pdf) {
            displayPage(pdf, 1);
            shownPdf = pdf;
         });

         var nextbutton = document.getElementById("nextbutton");
         nextbutton.onclick = function() {
            if (pageNum >= shownPdf.numPages) {
               return;
            }
            pageNum++;
            displayPage(shownPdf, pageNum);
         }

         var prevbutton = document.getElementById("prevbutton");
         prevbutton.onclick = function() {
            if (pageNum <= 1) {
               return;
            }
            pageNum--;
            displayPage(shownPdf, pageNum);
         }

         var zoominbutton = document.getElementById("zoominbutton");
         zoominbutton.onclick = function() {
            pdfScale = pdfScale + 0.25;
            displayPage(shownPdf, pageNum);
         }

         var zoomoutbutton = document.getElementById("zoomoutbutton");
         zoomoutbutton.onclick = function() {
            if (pdfScale <= 0.25) {
               return;
            }
            pdfScale = pdfScale - 0.25;
            displayPage(shownPdf, pageNum);
         }


      </script>


   </body>
</html>
