/*#mainbox{
	align: center;
	display: inline-block;
	text-align: left;
}*/


#the-canvas {
    border: 1px solid black;
    max-width: 100%;
    max-height: calc(100vh - 150px);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#off {
    text-align: center;
    margin-top: 50px;
}

#offers {
    text-align: center;
    margin-top: 50px;
}

#offers-image {
    width: 110px;
    height: 34px;
}
